.sectionChiSono {
    position: relative;
    background-image: url("../assets/ChiSono.svg");      
    background-size: cover; 
    background-position: center;
    min-height: 100vh;                    
}